<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="telerik.com" value="https://nuget.telerik.com/v3/index.json" />
        <add key="nuget.com" value="https://api.nuget.org/v3/index.json" />
        <add key="Syncfusion" value="/Users/israeldeguzman/Documents/Syncfusion/22.2.5/Blazor/NugetPackages" />
    </packageSources>
    <packageSourceCredentials>
        <telerik.com>
            <add key="Username" value="mail@agusandelsur.gov.ph" />
            <add key="ClearTextPassword" value="pimo@123" />
        </telerik.com>
    </packageSourceCredentials>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>