
@page "/Maintenance/Reference"

<div class="row col-md-12 col-lg-12 mb-3">
    <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white">
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Icon="home" Path="/" Text="Home" />
            <RadzenBreadCrumbItem Icon="settings" Path="/" Text="Maintenance" />
            <RadzenBreadCrumbItem Icon="settings" Path="/Maintenance/reference" Text="Reference" />
        </RadzenBreadCrumb>
    </RadzenCard>
</div>

<div class="row col-md-12 col-lg-12">
    <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white">
        <RadzenTabs RenderMode="TabRenderMode.Client">
            <Tabs>
                <RadzenTabsItem Icon="" Text="Unit">
                    <Unit />
                </RadzenTabsItem>
                <RadzenTabsItem Text="Signatories">
                    
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenCard>
</div>